/***初始化***/
/***rem转换方法****/
html,
body {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  color: #3a3a3a;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}
/*函数列表*/
/*函数列表 end*/
.grain {
  width: 10rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  /* canvas 画布 */
}
.grain canvas {
  display: inline-block;
}
.grain .change-themes {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background-image: url('../img/exchange.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #00ff00;
  position: absolute;
  top: 0.26666667rem;
  right: 0.26666667rem;
  z-index: 9999;
}
.grain audio {
  display: none;
  height: 0;
}
